.explore {
  padding: 50px 0;
  background-color: $dark-color;
  &__card {
    margin-top: 20px;
    padding: 20px;
    &__img {
      border-radius: 10px;
      height: 300px;
      margin-bottom: 20px;
    }
    &__right {
      h3 {
        text-transform: uppercase;
        color: $pink-color;
        font-size: 12px;
        word-spacing: 3px;

        i {
          border-radius: 50px;
          border: 1px solid $pink-color;
          padding: 7px;
          margin-left: 7px;
          transition: all 0.15s ease-in-out;
        }
        &:hover {
          i {
            background-color: $pink-color;
            color: $white-color;
          }
        }
      }
    }
  }
}
