.hero {
  height: 500px;
  background-image: url("/src/assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (max-width: 992px) {
    height: 500px;
  }
  @media screen and (max-width: 768px) {
    height: 700px;
  }
  .container_fluid {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
  }

  &__content {
    padding: 0 15px;
    margin-bottom: 100px;
    @media screen and (max-width: 992px) {
      margin-bottom: 50px;
    }
    &__heading {
      color: $white-color;
      background-color: $blue-color;
      padding: 7px 11px;
      border-radius: 10px;
    }
  }

  &__card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
    @media screen and (max-width: 992px) {
      justify-content: start;
    }

    &__img {
      img {
        width: 90px;
        height: 90px;
        border-radius: 10px;
        margin-right: 15px;
      }
      &__bookmark {
        top: 15px;
        left: 10px;
        i {
          color: $black-color;
          font-size: 14px;
          border-radius: 100px;
          background-color: $white-color;
          padding: 8px;
        }
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 90px;
      h3 {
        margin: 5px 0;
      }
    }
  }
}
