.newsletter {
  &__inner {
    height: 310px;
    h5 {
      margin: 20px 0;
      font-size: 16px;
    }
    &__email {
      #email {
        font-size: 14px;
        height: 50px;
        padding: 5px 115px 5px 20px;
        border: none;
        border-radius: 10px 0 0 10px;
        color: $white-color;
        &::placeholder {
          color: $white-color;
        }
        background-color: rgba($color: $gray-color, $alpha: 0.5);
      }
      #submit {
        font-size: 14px;
        width: 100px;
        height: 50px;
        border: none;
        border-radius: 0 10px 10px 0;
        color: $white-color;
        background-color: $pink-color;
      }
      p {
        text-align: center;
        margin: 10px 0;
        font-size: 14px;
        color: $white-color;
      }
    }
  }
}
