.trending {
  padding-top: 10px;
  margin-bottom: 20px;
  &__content {
    margin-top: 20px;
    height: 425px;
    border-radius: 10px;
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      padding: 30px;
      width: 357.5px;
      height: 250px;
      border-radius: 10px;
      background-color: $dark-color;
      h2 {
        margin-bottom: 10px;
      }
      h5 {
        line-height: 1.5;
      }
    }
  }
}
