.user {
  margin-top: 10px;
  gap: 10px;
  img {
    height: 35px;
    width: 35px;
    border-radius: 50px;
  }
  h4 {
    color: $white-color;
    margin: 0 5px;
  }
  i {
    color: $white-color;
    font-size: 14px;
    padding: 9px;
    border-radius: 50px;
    border: 0.5px $gray-color solid;
    margin-right: 20px;
  }
}
