$black-color: #121212;
$white-color: #ffffff;
$dark-color: #1e1e1e;
$gray-color: #bcbcbc;
$green-color: #015652;
$light-green-color: #4caf50;
$light-blue-color: #2096f3;
$blue-color: #027b8e;
$yellow-color: #ffc008;
$red-color: #f44336;
$orange-color: #ff5722;
$pink-color: #e9608e;
$purple-color: #6929c4;
