body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
}

h5 {
  font-size: 14px;
  font-weight: 500;
  color: $light-gray-color;
}
h4 {
  font-size: 12px;
  font-weight: 500;
}
h3 {
  font-size: 16px;
  font-weight: 600;
  color: $white-color;
  line-height: 1.3;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  color: $white-color;
}
h1 {
  font-size: 28px;
  font-weight: 600;
  color: $white-color;
}

.heading-text {
  &__yellow {
    color: $yellow-color;
  }
  &__light-blue {
    color: $light-blue-color;
  }
  &__blue {
    color: $blue-color;
  }
  &__red {
    color: $red-color;
  }
  &__gray {
    color: $gray-color;
  }
}
